@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    font-family: 'Hubballi', cursive;
    background-color: var(--background);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

p {
    background: rgb(210, 29, 29);
    border-radius: 10px;
}

span {
    display: block;
}

#name-tag {
    width: 275px;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;

}

#greeting-display {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#intro-display {
    color: white;
    padding-bottom: 15px;
    text-transform: uppercase;
}

#name-display {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.75rem;
}

input {
    display: block;
    margin-bottom: 20px;
}

#pronoun-display {
    background-color: white;
    padding-bottom: 15px;
    margin-top: 0;
    font-size: 1.3rem;
}